@model WebApplication2.Models.Category

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>
<div class="row">
	<img  width="50" class="category-image" src="/@Model.imgPath" />
	<h4>רשימת מוצרים</h4>
	<hr />
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				מחיר
			</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Prodacts)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					<img width="50" src="/@item.Pictuers?.FirstOrDefault().Image" />
				</td>
				<td>
					@if (User.IsInRole(nameof(TypeUser.client)))
					{
						<button class="btn btn-info" onClick='addToCart(@item.Id)'>הוסף לעגלה</button>
					}
				</td>
			</tr>
		}

	</tbody>
</table>
<div>
	@*<a asp-action="Edit" asp-route-id="@Model.CategoryId">Edit</a> |*@
	<a asp-action="Index">חזור לקטגוריות</a>
</div>



@section Scripts
{
	<script>
		function addToCart(productId) {
			$.ajax({
				url: "/Orders/AddToShoppingCart?productId=" + productId,
				type: "POST",
				cache: false,
				async: true,
				success: function (data) {
					console.log(data)
					alert("המוצר נוסף בהצלחה");
				},
				error: function (data) {
					console.log(data)
					const msg = (data.status === 401) ? "אתה לא מחובר" : "אירעה שגיאה";
					alert(msg);
				},
			});
		}
	</script>
} 