@model WebApplication2.Models.Category

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
	<h4>Category</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.imgPath)
		</dt>
		<dd class="col-sm-10">
			<img class="category-image" src="/@Model.imgPath" />
		</dd>
	</dl>
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				מחיר
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Prodacts)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					<img src="/@item.Pictuers?.FirstOrDefault()" />
				</td>

			</tr>
		}

	</tbody>
</table>
<div>
	<a asp-action="Edit" asp-route-id="@Model.CategoryId">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
