@model WebApplication2.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h1>מחיקה</h1>

<h3>האם אתה בטוח שברצונך למחוק את המשתמש הזה?</h3>
<div>
    <hr />
    <div class="user">
        <div class="user-detailes">
            <div>
                <span class="description">@Html.DisplayNameFor(model => model.Name)</span>:
                <span>@Html.DisplayFor(model => model.Name)</span>
            </div>
            <div>
                <span class="description">@Html.DisplayNameFor(model => model.Password)</span>:
                <span>@Html.DisplayFor(model => model.Password)</span>
            </div>
            <div>
                <span class="description">@Html.DisplayNameFor(model => model.Type)</span>:
                <span>
                    @if (@Model.Type == TypeUser.admin)
                    {
                        <span>מנהל</span>
                    }
                    else
                    {
                        <span>לקוח</span>
                    }
                </span>
            </div>
        </div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="מחק" class="btn btn-danger delete" />
            <a asp-action="Index" class="btn btn-secondary">ביטול</a>
        </form>
    </div>
</div>
<style>
    .delete {
        margin-left: 10px;
    }
    .user {
        font-size: 20px;
        font-weight: 500;
    }
</style>