@model WebApplication2.Models.Order

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>פרטים</h1>

<div>
    <h4>הזמנה</h4>
    <hr />
    <div class="order-detailes">
        <div>
            <span class="description">@Html.DisplayNameFor(model => model.Total)</span>:
            <span>@Html.DisplayFor(model => model.Total)</span>
        </div>
        <div>
            <span class="description">@Html.DisplayNameFor(model => model.Status)</span>:
            @switch (Model.Status)
            {
                case OrderStatuses.OPEN:
                    <span>פתוח</span>
                    break;
                case OrderStatuses.WAITING:
                    <span>ממתין לטיפול</span>
                    break;
                case OrderStatuses.IN_PROCESS:
                    <span>בטיפול</span>
                    break;
                case OrderStatuses.CLOSE:
                    <span>סגור</span>
                    break;
            }
        </div>
    </div>
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				שם מוצר
			</th>
			<th>
				מחיר
			</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Prodacts)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					<img width="50" src="/@item.Pictuers?.FirstOrDefault().Image" />
				</td>
				<td>
					<a class="btn btn-danger" asp-action="DleleteFromCart" asp-route-id="@item.Id">הסר</a>
				</td>
			</tr>
		}

	</tbody>
</table>

<div>
    <a class="btn btn-success" asp-action="FinishOrder" asp-route-id="@Model.Id">סיים הזמנה</a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">עריכה</a>
    <a class="btn btn-secondary" asp-action="Index">חזור</a>
</div>

<style>
    .order-detailes {
        font-size: 20px;
        font-weight: 500;
    }
</style>


@section Scripts
	{
		<script>
			
		</script>
	} 