@model WebApplication2.Models.Order

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
	<h4>Order</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Total)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Total)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Status)
		</dt>
		<dd class="col-sm-10">
			@switch (Model.Status)
			{
				case OrderStatuses.OPEN:
					<span>פתוח</span>
					break;
				case OrderStatuses.WAITING:
					<span>ממתין לטיפול</span>
					break;
				case OrderStatuses.IN_PROCESS:
					<span>בטיפול</span>
					break;
				case OrderStatuses.CLOSE:
					<span>סגור</span>
					break;
			}
		</dd>
	</dl>
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				שם מוצר
			</th>
			<th>
				מחיר
			</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Prodacts)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					<img width="50" src="/@item.Pictuers?.FirstOrDefault().Image" />
				</td>
				<td>
					<a class="btn btn-danger" asp-action="DleleteFromCart" asp-route-id="@item.Id">הסר</a>
				</td>
			</tr>
		}

	</tbody>
</table>

<a class="btn btn-success" asp-action="FinishOrder" asp-route-id="@Model.Id">סיים הזמנה</a>


<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>



@section Scripts
	{
		<script>
			
		</script>
	} 